.signUp{
    font-weight: bold;
    background-color: #acb5bc;
    min-width: 100px !important;
    text-align: center;
    border-radius: 10px !important;
    margin-left: 8px !important; 
}
.signIn{
    font-weight: bold;
    border-radius: 10px !important;

}