.companyname {
  padding: 40px;
}
.desc {
  max-width: 500px;
  margin: 0px auto;
}

.input,
.drpdown {
  max-width: 500px;
  margin: 0px auto;
}
.or {
  text-align: center;
  margin-bottom: 10px;
}
.txtArea
{
    width: 100%;
    /* height: 150px; */
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    /* resize: none; */
}
